/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

h1 {
background-color: rgba(2, 0, 128, 0.2);
  color: blanchedalmond;
  text-align: center;
  padding: 50px;
}
h2 {
  background-color: rgb(128, 0, 0);
  color: blanchedalmond;
  text-align: center;
  padding: 50px;
}
p {
  background-color: green;
  text-align: left;
  padding: 30px;
}